a:link {
    text-decoration: none;
    color: none;

  }
  
  a:visited {
    text-decoration: none;
    color: none;

  }
  
  a:hover {
    text-decoration: none;
    color: none;

  }
  
  a:active {
    text-decoration: none;
    color: none;
  }
  .leftNav:hover {
    background-color: #3f51b5;
    color: #fff;
  }


@media(min-width:992px) {
  .imgCard{
      height: 194px;
      object-fit: "contain";
  }

}