.v4-s {
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
    display: block;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
main {
    display: block;
}
.huawei-v4, .huawei-v4>.v4 {
    font-family: "Manrope",Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 24px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.v4-s *, .body-v4-s * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.v4-s article, .v4-s aside, .v4-s details, .v4-s figcaption, .v4-s figure, .v4-s footer, .v4-s header, .v4-s hgroup, .v4-s nav, .v4-s section, .v4-s main, .body-v4-s article, .body-v4-s aside, .body-v4-s details, .body-v4-s figcaption, .body-v4-s figure, .body-v4-s footer, .body-v4-s header, .body-v4-s hgroup, .body-v4-s nav, .body-v4-s section, .body-v4-s main {
    display: block;
}

.v4-s {
}
@media only screen and (max-width: 991.98px){
.body-v4-s {
    padding-top: 65px;
}
.body-v4-s {
    padding-top: 74px;
}
}
body.v4-s, .body-v4-s {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 24px;
    background-color: #fff;
}
.v4-s *, .body-v4-s * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.body-v4-s, .v4-s [class*='font-ico'] {
    display: inline-block;
}
body.v4-s, .body-v4-s {
    font-size: 1em;
    line-height: 1.35;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
@media only screen and (max-width: 767.98px){
body.v4-s, .body-v4-s {
    overflow-x: initial;
}
}
body.v4-s, .body-v4-s {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
    display: block;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
main {
    display: block;
}

element.style {
    top: 60px;
}
@media only screen and (max-width: 767.98px){
.v4-s.n01-sustainability-navigation.sustainability-navigation {
    padding: 20px 50px 20px 15px;
    border-bottom: 1px solid #e7e7e7;
}
}
@media only screen and (max-width: 991.98px){
.v4-s.n01-sustainability-navigation.sustainability-navigation {
    padding: 20px 80px 20px 20px;
}
}
.v4-s.n01-sustainability-navigation.sustainability-navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 25px 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #ededed;
}

element.style {
    cursor: default;
}
@media only screen and (max-width: 991.98px){
.v4-s.n01-sustainability-navigation .sustainability-navigation__link {
    width: 47%;
}
}
.v4-s.n01-sustainability-navigation .sustainability-navigation__link {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 1.5;
    color: #049013;
}
.v4-s a, .v4-s button, .body-v4-s a, .body-v4-s button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.v4-s a, .body-v4-s a {
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.huawei-v4 a, .huawei-v4 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}
.v4-s *, .body-v4-s * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

element.style {
}
@media only screen and (max-width: 767.98px){
.v4-s.n01-sustainability-navigation .sustainability-navigation__list {
    padding: 0 20px;
}
}
@media only screen and (max-width: 991.98px){
.v4-s.n01-sustainability-navigation .sustainability-navigation__list {
    padding: 0 40px;
    display: none;
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: calc(100vh - 65px);
}
}
.v4-s.n01-sustainability-navigation .sustainability-navigation__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.v4-s nav ul, .v4-s nav ol, .v4-s ul, .v4-s li, .body-v4-s nav ul, .body-v4-s nav ol, .body-v4-s ul, .body-v4-s li {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
.v4-s dl, .v4-s dt, .v4-s dd, .v4-s ul, .v4-s ol, .v4-s li, .v4-s h1, .v4-s h2, .v4-s h3, .v4-s h4, .v4-s h5, .v4-s h6, .v4-s pre, .v4-s form, .v4-s fieldset, .v4-s input, .v4-s textarea, .v4-s p, .v4-s blockquote, .v4-s th, .v4-s td, .body-v4-s dl, .body-v4-s dt, .body-v4-s dd, .body-v4-s ul, .body-v4-s ol, .body-v4-s li, .body-v4-s h1, .body-v4-s h2, .body-v4-s h3, .body-v4-s h4, .body-v4-s h5, .body-v4-s h6, .body-v4-s pre, .body-v4-s form, .body-v4-s fieldset, .body-v4-s input, .body-v4-s textarea, .body-v4-s p, .body-v4-s blockquote, .body-v4-s th, .body-v4-s td {
    margin: 0;
    padding: 0;
}
.v4-s *, .body-v4-s * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
nav ul, nav ol, ul, ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@media only screen and (max-width: 991.98px){
.v4-s.n01-sustainability-navigation .sustainability-navigation__list-item {
    margin-right: 0;
    border-bottom: 1px solid #e7e7e7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
}

.v4-s.n01-sustainability-navigation .sustainability-navigation__list-item {
    margin-right: 40px;
}
.v4-s nav ul, .v4-s nav ol, .v4-s ul, .v4-s li, .body-v4-s nav ul, .body-v4-s nav ol, .body-v4-s ul, .body-v4-s li {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 991.98px){
.v4-s.n01-sustainability-navigation .sustainability-navigation__list-item {
    margin-right: 0;
    border-bottom: 1px solid #e7e7e7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
}

@media only screen and (max-width: 991.98px){
.v4-s.n01-sustainability-navigation .sustainability-navigation__list-link {
    padding: 17px 0;
    width: 100%;
}
}
.v4-s.n01-sustainability-navigation .sustainability-navigation__list-link {
    letter-spacing: 0.3px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    line-height: 1.5;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.v4-s a, .v4-s button, .body-v4-s a, .body-v4-s button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.v4-s a, .body-v4-s a {
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.huawei-v4 a, .huawei-v4 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}
.v4-s *, .body-v4-s * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.v4-s.n01-sustainability-navigation .sustainability-navigation__list-item:last-of-type {
    margin-right: 0;
}

@media only screen and (max-width: 991.98px){
.v4-s.n01-sustainability-navigation .sustainability-navigation__list-item {
    margin-right: 0;
    border-bottom: 1px solid #e7e7e7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
}
@media only screen and (max-width: 991.98px){
.v4-s.n01-sustainability-navigation .sustainability-navigation__active-tab {
    display: block;
    width: 57%;
    word-break: break-word;
}
}
.v4-s.n01-sustainability-navigation .sustainability-navigation__active-tab {
    display: none;
    font-weight: normal;
    letter-spacing: 0.3px;
    line-height: 24px;
    font-size: 16px;
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
    text-align: right;
}

@media only screen and (max-width: 767.98px){
.v4-s.n01-sustainability-navigation .sustainability-navigation__btn {
    right: 15px;
}
}
@media only screen and (max-width: 991.98px){
.v4-s.n01-sustainability-navigation .sustainability-navigation__btn {
    display: block;
}
}
.v4-s.n01-sustainability-navigation .sustainability-navigation__btn {
    display: none;
    position: absolute;
    top: 17px;
    right: 40px;
    width: 30px;
    height: 30px;
}
.v4-s button, .v4-s input[type='button'], .v4-s input[type='submit'], .body-v4-s button, .body-v4-s input[type='button'], .body-v4-s input[type='submit'] {
    font-family: inherit;
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
}
.v4-s.n01-sustainability-navigation .sustainability-navigation__btn-icon {
    vertical-align: middle;
}

.body-v4-s, .v4-s [class*='font-ico'] {
    display: inline-block;
}
@media only screen and (max-width: 991.98px){
.v4-s.b01-banner-text {
    margin-bottom: 40px;
}

.v4-s.b01-banner-text {
    margin-bottom: 98px;
}
}

element.style {
    background-image: url('https://consumer.huawei.com/content/dam/huawei-cbg-site/common/mkt/v4/csd/images/banner-landing.jpg');
}
.v4-s.b01-banner-text .banner-text.img-position-right {
    background-position: right center;
}
[data-aos][data-aos][data-aos-delay="200"].aos-animate, body[data-aos-delay="200"] [data-aos].aos-animate {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
.v4-s [data-aos][data-aos].aos-animate-no-delay, .body-v4-s [data-aos][data-aos].aos-animate-no-delay {
    transition-delay: 0s !important;
}
@media only screen and (max-width: 991.98px){
.v4-s.b01-banner-text-top .banner-pc {
}
}
@media only screen and (max-width: 991.98px){
.v4-s.b01-banner-text .banner-text {
    padding: 0;
    height: auto;
    min-height: 480px;
    position: relative;
}
}
@media only screen and (max-width: 991.98px){
.v4-s.b01-banner-text .banner-pc {
    display: none;
}
}
.v4-s.b01-banner-text .banner-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 752px;
    padding: 104px 0;
    color: #fff;
    position: relative;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-delay="200"], body[data-aos-delay="200"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="500"], body[data-aos-duration="500"] [data-aos] {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
}
.v4-s .has-cover, .body-v4-s .has-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
[data-aos=fade-up] {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
}
.v4-s *, .body-v4-s * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 991.98px){
.v4-s.b01-banner-text-top .banner-mb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
}
@media only screen and (max-width: 991.98px){
.v4-s.b01-banner-text .banner-mb {
    position: relative;
    width: 100%;
    display: inherit;
}
}

@media only screen and (max-width: 991.98px){
.v4-s.b01-banner-text-top .banner-text__container--no-bg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
}
@media only screen and (max-width: 767.98px){
.v4-s .body-v4-s .container {
    padding: 0 24px;
}
}
@media only screen and (max-width: 767.98px){
.v4-s .container {
    padding: 0 24px;
}
}
.v4-s .container {
    width: 100%;
    padding: 0 80px;
}

@media only screen and (max-width: 991.98px){
.v4-s.b01-banner-text .banner-text__wrap {
    position: relative;
    z-index: 3;
}
}
.v4-s.b01-banner-text .banner-text__wrap--centered {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.v4-s.b01-banner-text .banner-text__container, .v4-s.b01-banner-text .banner-text__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.v4-s .wrap--medium {
    max-width: 1460px;
}
.v4-s .wrap {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.v4-s *, .body-v4-s * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.v4-s.b01-banner-text .banner-text__in {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 663px;
}
.v4-s.b01-banner-text .banner-text__wrap--centered .banner-text__title {
    margin-top: initial;
    line-height: 1.2;
}

[data-aos][data-aos][data-aos-delay="500"].aos-animate, body[data-aos-delay="500"] [data-aos].aos-animate {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.v4-s [data-aos][data-aos].aos-animate-no-delay, .body-v4-s [data-aos][data-aos].aos-animate-no-delay {
    transition-delay: 0s !important;
}
@media only screen and (max-width: 767.98px){
.v4-s.b01-banner-text .banner-text__title--centered {
    font-size: 28px;
    line-height: 34x;
    letter-spacing: -0.72px;
    width: 100%;
}
}
@media only screen and (max-width: 767.98px){
.v4-s.b01-banner-text .banner-text__title {
    margin-bottom: 16px;
    word-break: break-word;
}
}
@media only screen and (max-width: 991.98px){
.v4-s.b01-banner-text .banner-text__title {
    font-size: 46px;
    line-height: 48px;
    letter-spacing: -0.72px;
    margin-bottom: 10px;
    margin-top: initial;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}
}
.v4-s.b01-banner-text-top .banner-text__title {
    font-size: 48px;
    letter-spacing: -0.75px;
    line-height: 56px;
    color: #fff;
    margin-bottom: 50px;
}
.v4-s.b01-banner-text .banner-text__title {
    font-size: 96px;
    line-height: 1.15;
    letter-spacing: -2.77px;
    color: #fff;
    margin-top: auto;
    width: 100%;
    max-width: 800px;
}
.v4-s.b01-banner-text .banner-text__title--centered {
    font-size: 96px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-delay="500"], body[data-aos-delay="500"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="500"], body[data-aos-duration="500"] [data-aos] {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
}
.v4-s h1, .v4-s h2, .v4-s h3, .v4-s h4, .v4-s h5, .v4-s h6, .body-v4-s h1, .body-v4-s h2, .body-v4-s h3, .body-v4-s h4, .body-v4-s h5, .body-v4-s h6 {
    font-family: inherit;
    font-weight: 700;
    color: #000;
}
element.style {
    background-image: url('https://consumer.huawei.com/content/dam/huawei-cbg-site/common/mkt/v4/csd/images/banner-landing.jpg');
}
.v4-s.b01-banner-text .banner-text.img-position-right {
    background-position: right center;
}
[data-aos][data-aos][data-aos-delay="200"].aos-animate, body[data-aos-delay="200"] [data-aos].aos-animate {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
.v4-s [data-aos][data-aos].aos-animate-no-delay, .body-v4-s [data-aos][data-aos].aos-animate-no-delay {
    transition-delay: 0s !important;
}
@media only screen and (max-width: 991.98px){
.v4-s.b01-banner-text-top .banner-mb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
}
@media only screen and (max-width: 991.98px){
.v4-s.b01-banner-text .banner-text {
    padding: 0;
    height: auto;
    min-height: 480px;
    position: relative;
}
}
@media only screen and (max-width: 991.98px){
.v4-s.b01-banner-text .banner-mb {
    position: relative;
    width: 100%;
    display: inherit;
}
}
.v4-s.b01-banner-text-top .banner-mb {
}
.v4-s.b01-banner-text .banner-mb {
}
.v4-s.b01-banner-text .banner-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 752px;
    padding: 104px 0;
    color: #fff;
    position: relative;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-delay="200"], body[data-aos-delay="200"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
@media only screen and (max-width: 991.98px){
.v4-s.b01-banner-text-top .banner-text__container--no-bg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
}
@media only screen and (max-width: 767.98px){
.v4-s .body-v4-s .container {
    padding: 0 24px;
}
}

@media only screen and (max-width: 991.98px){
.v4-s.b01-banner-text .banner-text__wrap {
    position: relative;
    z-index: 3;
}
}

.v4-s.b01-banner-text .banner-text__wrap--centered {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.v4-s.b01-banner-text .banner-text__container, .v4-s.b01-banner-text .banner-text__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.v4-s .wrap--medium {
    max-width: 1460px;
}
.v4-s .wrap {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.v4-s.b01-banner-text .banner-text__in {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 663px;
}
element.style {
    bottom: 20%;
    top: auto;
    transform: translate(-50%, 0);
}
.v4-s.b01-banner-text .banner-text__wrap--centered .banner-text__title {
    margin-top: initial;
    line-height: 1.2;
}
[data-aos][data-aos][data-aos-delay="500"].aos-animate, body[data-aos-delay="500"] [data-aos].aos-animate {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}